[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
