[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell
